/*************** variables ***************/

:root {
   --main-color: white;
   --secondary-color: #7f7f7f;
   --background-color: black;
}

/* for everything */

@media all {
   /*************** general ***************/
   * {
      box-sizing: border-box;
   }
   body {
      height: 100vh;
      margin: 0;
      transition: 0.5s;
      font-family: 'Anonymous Pro', monospace;
      background-color: black;
      background-color: var(--background-color);
      overflow: hidden;
      color: white;
      color: var(--main-color);
   }
   .hidden {
      pointer-events: none;
      opacity: 0;
   }
   .transition{
      transition: 0.5s;
   }
   /* adapted from: https://stackoverflow.com/a/4407335 */
   .no-select {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
   }
   /*************** scrolling ***************/
   #scroll-pane {
      width: 100vw;
      height: 100vh;
      scroll-behavior: smooth;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      scrollbar-width: none;
      -ms-overflow-style: none;
   }
   #scroll-pane::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
   }
   .scroll-item {
      position: relative;
      height: 100%;
      width: 100%;
      scroll-snap-align: start;
      scroll-snap-stop: normal;
   }
   .scroll-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50%;
      width: 50%;
      visibility: hidden;
      z-index: -10;
   }
   /*************** theme button ***************/
   #theme-btn {
      z-index: 10;
      position: fixed;
      top: 1.5rem;
      left: 1.5rem;
      padding: 0.5rem;
      cursor: pointer;
      transition: 0.3s;
   }
   .light-bulb-icon {
      fill: white;
      fill: var(--main-color);
   }
   /*************** nav bar ***************/
   #highlighted-btn {
      color: white;
      color: var(--main-color);
   }
   nav {
      color: #7f7f7f;
      color: var(--secondary-color);
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
      z-index: 10;
   }
   /*************** home ***************/
   #name-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   #name {
      cursor: pointer;
      font-size: 1px;
   }
   .letter{
      /* added invisible outline because safari is bad and this fixes weird drawing issues during animations */
      outline: 1px solid transparent;
      position: relative;
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
   }
   .titleLine {
      color: #7f7f7f;
      color: var(--secondary-color);
      width: 16rem;
   }
   .hr-hide {
      width: 0;
      opacity: 0;
   }
   #subtitle {
      color: #7f7f7f;
      color: var(--secondary-color);
      font-style: italic;
   }
}

/* For desktop only have the nav bar be fixed the side of the screen
 and have slide out animations on hover. */

@media (min-width: 601px) {
   #home {
      display: grid;
      place-content: center;
   }
   nav {
      position: fixed;
      top: 50%;
      right: 1rem;
      transform: translate(0, -50%);
   }
   .trigger {
      padding: 1rem 0rem;
   }
   .trigger div {
      padding-left: 3px;
      position: relative;
      right: -5rem;
      cursor: pointer;
      transition: 0.2s;
   }
   .trigger:hover div {
      transition: 0.3s;
      transform: scale(1.1);
      right: 0.5rem;
      color: white;
      color: var(--main-color);
   }
}

/* phones */

@media (max-width: 600px) {
   #home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   #name-wrapper {
      margin-top: 20%;
      margin-bottom: 30%;
   }
   nav {
      font-size: 1rem;
   }
   .trigger div {
      padding: 1.2rem;
      margin-left: 1rem;
   }
}

/* small phones */

@media (max-width: 350px) {
   #name-wrapper {
      margin-top: 20%;
      margin-bottom: 15%;
   }
   #name {
      font-size: 1.4rem;
   }
   #subtitle {
      font-size: 0.85rem;
   }
   nav {
      font-size: 0.9rem;
   }
}