
body {
   display: grid;
   place-items: center;
   color: #7f7f7f;
}

/* title */
main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.name {
   font-size: 1.5rem;
   color: white;
}

hr {
   width: 16rem;
}

.subtitle {
   font-style: italic;
}

/* nav bar */
nav {
   position: fixed;
   top: 50%;
   right: 1rem;
   transform: translate(0, -50%);

   display: flex;
   flex-direction: column;
   font-size: 0.9rem;
}

.menu-wrapper div {
   margin-top: 2rem;
   cursor: pointer;
}

.menu-wrapper div:first-child {
   margin: 0;
}

.menu-wrapper div span{
   padding: 0;
   margin: 0;
}

.menu-wrapper div :nth-child(2){
   display: none;
}