@media all {
   /*************** general ***************/
   * {
      box-sizing: border-box;
   }
   body {
      height: 100vh;
      margin: 0;
      font-family: 'Anonymous Pro', monospace;
      background-color: black;
      overflow: hidden;
      color: white;
   }
   /* adapted from: https://stackoverflow.com/a/4407335 */
   .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
   }
   /*************** scrolling ***************/
   #scroll-pane {
      width: 100vw;
      height: 100vh;
      scroll-behavior: smooth;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      scrollbar-width: none;
      -ms-overflow-style: none;
   }
   #scroll-pane::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
   }
   .scroll-item {
      position: relative;
      height: 100%;
      width: 100%;
      scroll-snap-align: start;
      scroll-snap-stop: normal;
   }
   .scroll-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50%;
      width: 50%;
      visibility: hidden;
      z-index: -10;
   }
   /*************** nav bar ***************/
   #current-tab {
      color: white;
   }
   nav {
      color: #7f7f7f;
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
   }
   /*************** home ***************/
   #home {
      display: grid;
      place-content: center;
   }
   #name-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   #name {
      font-size: 1.5rem;
   }
   #name-wrapper hr {
      color: #7f7f7f;
      width: 16rem;
   }
   #subtitle {
      color: #7f7f7f;
      font-style: italic;
   }
}

/* desktop */

@media (min-width: 800px) {
   nav {
      position: fixed;
      top: 50%;
      right: 1rem;
      transform: translate(0, -50%);
   }
   .trigger {
      padding: 1rem 0rem;
   }
   .trigger div {
      padding-left: 3px;
      position: relative;
      right: -5rem;
      cursor: pointer;
      transition: 0.5s;
   }
   .trigger:hover div {
      transition: 0.5s;
      transform: scale(1.1);
      right: 0.5rem;
      color: white;
   }
}

/* phones */

@media (max-width: 799px) {
   body {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   main {
      margin: 8rem 0rem 5rem;
   }
   .trigger {
      padding: 1.5rem 0rem;
   }
   nav {
      padding-left: 1.5rem;
   }
}

/* small phones */

@media (max-width: 350px) {
   main {
      margin-top: 7rem;
   }
   .subtitle {
      font-size: 0.8rem;
   }
}