* {
   box-sizing: border-box;
   padding: 0px;
   margin: 0px;
}

body {
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: 'Courier New', Courier, monospace;
   color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
}

a, a:visited, a:hover, a:active {
   color: black;
}

hr {
   color: black;
}

header {
   height: 200px;
   display: grid;
   place-items: center center;
}

h1 {
   font-weight: normal;
   margin: 0;
   padding: 0;
}

main {
   max-width: 1000px;
   min-width: 600px;
   width: 100%;
   padding: 10px;
}

article {
   display: flex;
   width: 100%;
   margin: 40px 0px 10px 0px;
}

img {
   width: 200px;
   height: 200px;
   border-radius: 25%;
   line-height: 200px;
   text-align: center;
   margin-right: 20px;
}

.textWrapper {
   flex: 1;
}

h3 {
   max-width: 250px;
   font-weight: normal;
   margin: 5px 0px 10px 0px;
   border-bottom: 1px solid black;
}