* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Courier New', Courier, monospace;
}

.scroll-wrapper {
   height: 100vh;
   width: 100vw;
   scroll-behavior: smooth;
   overflow-y: scroll;
   scroll-snap-type: y mandatory;
}

.scroll-wrapper::-webkit-scrollbar { display: none; }
.scroll-wrapper { -ms-overflow-style: none; }

.scroll-item {
   height: 100vh;
   width: 100vw;
   scroll-snap-align: start;
   scroll-snap-stop: normal;
}

header {
   display: grid;
   place-items: center center;
   font-size: large;
}

#name-wrapper{
   font-size: 3px;
}

.name {
   position: relative;
   font-size: large;
   margin: 0;
   padding: 0;
}

.main-item.about { grid-area: about; }
.main-item.sketches { grid-area: sketches; }
.main-item.music { grid-area: music; }
.main-item.resume { grid-area: resume; }

main {
   display: grid;
   grid-auto-rows: minmax(200px, 1fr);
   grid-auto-columns: minmax(200px, 1fr);
   grid-template-areas: "about" "sketches" "music" "resume";
}

@media (min-width: 500px) {
   main {
      grid-template-areas: "about sketches" "music resume";
   }
}

.main-item {
   margin: 0;
   padding: 0;
   position: relative;
}

.content-wrapper {
   width: 100%;
   height: 100%;
   color: black;
   padding: 10px;
   display: grid;
   place-items: center center;
}

.content {
   height: 90%;
   width: 90%;
}

.about .content { border: 2px solid #f7c1bb; }
.sketches .content { border: 2px solid #00cecb; }
.music .content { border: 2px solid #59f8e8; }
.resume .content { border: 2px solid #c1cfda; }

.overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   overflow: hidden;
   width: 100%;
   height: 100%;
   transition: .2s ease;
   display: grid;
   place-items: center center;
}

.slide-trigger:hover + .overlay.slide-right {
   width: 0%;
   left: 100%;
   transition: .4s ease;
}

.slide-trigger:hover + .slide-left {
   width: 0%;
   transition: .5s ease;
}

.about .overlay{ background-color: #f7c1bb; }
.sketches .overlay { background-color: #00cecb; }
.music .overlay { background-color: #59f8e8; }
.resume .overlay { background-color: #c1cfda; }

.overlay-title {
   color: white;
   font-size: large;
}

.slide-trigger {
   position: absolute;
   background-color: black;
   width: 80%;
   height: 80%;
   top: 10%;
   left: 10%;
   opacity: 0;
   z-index: 2;
}