* {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   height: 100vh;
   margin: 0;
   background-color: black;
   color: white;
   font-family: 'Courier New', Courier, monospace;
}

.main-item.about {
   grid-area: about;
}

.main-item.resume {
   grid-area: resume;
}

.main-item.sketches {
   grid-area: sketches;
}

.main-item.music {
   grid-area: music;
}

main {
   height: 100%;
   display: grid;
   grid-auto-rows: minmax(200px, 1fr);
   grid-auto-columns: minmax(200px, 1fr);
   grid-template-areas: 
   "about"
   "sketches"
   "music"
   "resume";
}

@media (min-width: 500px) {
   main {
       grid-template-areas: 
         "about sketches"
         "music resume";
   }
}

.main-item {
   margin: 0;
   padding: 0;
   position: relative;
}

.content {
   background-color: white;
   color: black;
   width: 100%;
   height: 100%;
}

.overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   overflow: hidden;
   width: 100%;
   height: 100%;
   transition: .2s ease;
   display: grid;
   place-items: center center;
}

.main-item:hover .overlay.slide-right {
   width: 0%;
   left: 100%;
   transition: .4s ease;
}

.main-item:hover .slide-left {
   width: 0%;
   transition: .5s ease;
}

.overlay.about {
   background-color: #f7c1bb;
}

.overlay.resume {
   background-color: #59f8e8;
}

.overlay.sketches {
   background-color: #00cecb;
}

.overlay.music {
   background-color: #c1cfda;
}

.overlay-title {
   color: white;
   font-size: large;
}