/***************** general *****************/

* {
   box-sizing: border-box;
}

html, body {
   margin: 0;
   height: 100vh;
}

body {
   font-family: 'Anonymous Pro', monospace;
   background-color: black;
   color: white;
}

#current-tab {
   color: white;
}

/* adapted from: https://stackoverflow.com/a/4407335 */

.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* nav bar */

nav {
   position: fixed;
   top: 50%;
   right: 1rem;
   transform: translate(0, -50%);
   display: flex;
   flex-direction: column;
   font-size: 0.9rem;
}

.trigger {
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.trigger div {
   position: relative;
   right: -5rem;
   cursor: pointer;
   transition: 0.5s
}

/* nav bar animations */

.trigger:hover div {
   transition: 0.5s;
   transform: scale(1.1);
   right: 1rem;
   color: #cccccc
}